<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>LINSERUN</h5>
    </div>
    <form name="test">
        <div class="input-group mb-3 card-body">
          <div class="input-group-prepend">
              <select type="button" class="btn btn-primary dropdown-toggle" name="action-value" [(ngModel)]="action">
               <option class="dropdown-item-text" value="Command" selected>Command

               </option>
              <option class="dropdown-item-text" value="search">Search</option>
              </select>
          </div>
            <input type="text" class="form-control" name="text-box" [(ngModel)]="value" (keypress)="performAct()">
            <div class="input-group-append">
                <span class="input-group-text"></span>
                <button class="btn btn-success" (click)="lin_run_cmd()">{{btn.text}}</button>
            </div>
          </div>
      </form>
      {{action}}
</div>

<div class="container-fluid">
          <div class="row" *ngIf="action=='Command'">
            <!--run command window-->
              <div class="col-6">
                 <!--history of the  command and output window-->
                 <div *ngIf="run_out_show==true">
                   {{run_out}}
                 </div>
              </div>
              <div class="col-6">
                  <!--documentation of the command showing window-->
              </div>
          </div>
          <div class="row" *ngIf="action=='search'">
            <!--search result showing window-->



          </div>
 
</div>