.container
{
    display: block;
    margin: 12px, 12px, 20px, 20px;
    header
    {
        padding: 2px;
        margin-left: 1px;
        margin-right: 2px;
        

        input
        {
            background-color:white;
            width: 20%;
            height: 1%;
        }
    }
}